<!-- <div id="nav">
    <a href="#">ResidentLINK.</a>
    <div id="part2">
        <div class="btn">Home</div>
        <div class="btn">About</div>
        <div class="btn">Contact</div>
        <h4 id="menu">MENU+</h4>
        <div>
          <a href="/user/signin"><button id="log-btn">LOGIN</button></a> 
        </div>
        
    </div>
</div> -->